* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegacion {
    background-color: black;
    /* min-height: 100px; */
}

.navegacion ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.6rem;
    padding: 2rem;
}

.navegacion ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;


}

.navegacion ul li a:hover {
    color: red;
}


.portada {
    background-image: url(../imagenes/computer-3174729_1280.jpg);
    min-height: 742px;
    background-size: cover;

    /* width: 100%; */
    background-repeat: no-repeat;
}

.portada h1 {
    border-bottom: 5px solid black;
    padding-bottom: 20px;
    background-color: rgba(255, 228, 196, 0.156);
    border-radius: 50%;
    color: transparent;
    text-shadow: 2px 5px 3px red;
    text-transform: uppercase;
    font-size: 2.8rem;
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.contenedor .parrafo-principal {
    /* text-align: center; */
    margin: 30px 30px 30px 500px;
    background-color: rgba(0, 139, 139, 0.405);
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;

}

.contenedor a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 3px 3px;
}

.contenedor a:hover {
    color: yellow;
}

/* .img-portada {
    background-image: url(../imagenes/profile-pic.png);
    height: 400px;
    width: 400px;
    border-radius: 5px;
    background-repeat: no-repeat;
    margin-left: 700px;
} */

.portada-texto {
    background-color: teal;
    text-align: center;
    border-radius: 50%;
}

.contacto {
    margin: 0 0 0 600px;
    border-radius: 5px;
    padding: 1rem;
    border: 2px solid black;
    width: 300px;
    box-shadow: 2px 5px 3px black;
}