* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* height: 30vh; */
    background-color: crimson;
}

.img-header {
    display: flex;
    justify-content: space-around;
    /* background: url(./imagenes/binary-2450152_1280.jpg); */
    /* border: 2px solid white; */
    background: linear-gradient(to top, black, white);
    /* margin: 1rem; */
    /* border-radius: 10px; */
}

.img-header img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* border: 5px solid white; */
    border-radius: 50%;
    margin: 1rem;
}



.titulo-principal {
    background: linear-gradient(to top, black, white, black);
    /* box-shadow: 2px 5px 3px whitesmoke; */
    /* border-radius: 8px; */
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 5px 3px gainsboro;
    letter-spacing: 5px;
    /* border: 1px solid white; */
    width: 100%;
    padding: 1rem;
    text-transform: uppercase;
}

.subtitulo-span {
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: 5px;
    text-shadow: 2px 5px 3px orange;
}