*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: black;
    text-shadow: 2px 5px 3px red;
    letter-spacing: 10px;
    color: white;
    font-size: 3rem;
    margin: 10px 220px;
    border-radius: 10px;
    box-shadow: 2px 5px 3px red;
}