.cursos-title {
    border: 1px solid var(--negro);
    padding: 1rem;
    margin: 1rem;
    text-shadow: 2px 5px 3px var(--primario);
    text-transform: uppercase;
    color: var(--blanco);
    background-color: var(--negro);
    letter-spacing: 30px;
}

.curso__imagen {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 2px 5px 3px brown;
}

.curso__informacion {
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 2px 5px 3px black;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.boton--primario {
    background-color: var(--negro);
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 2px 5px 3px gray;
}

.boton--secundario {
    background-color: var(--primario);
}

.cursos {
    list-style: none;
}



.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso h4 {
    text-transform: uppercase;
    border: 1px solid var(--primario);
    padding: 1rem;
    /* border-radius: 10px; */
    background-color: #784d3c63;
    text-shadow: 2px 5px 3px var(--blanco);
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info {
    font-weight: normal;
}

.widget-curso__label .widget-curso__info {
    font-size: 2rem;
}

.curso {
    padding: 3rem;
    border: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}