.titulo-entrada {
    border: 1px solid var(--negro);
    padding: 1rem;
    margin: 1rem;
    text-transform: uppercase;
    color: var(--blanco);
    text-shadow: 2px 5px 3px var(--primario);
    background-color: var(--negro);
    letter-spacing: 30px;
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.entrada__imagen img {
    border: 1px solid black;
    background-color: black;
    padding: 5px;
    box-shadow: 2px 5px 3px brown;
    border-radius: 10px;
}