* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open sans', sans-serif;
    --primario: #784D3c;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #e1e1e1;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 rem = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor {
    max-width: 120rem;
    width: 90%;
    /* width: min(90%, 120rem); */
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.3rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* utilidades */
/* .no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
} */

.index-titulo {
    border: 1px solid var(--negro);
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--negro);
    color: var(--blanco);
    text-shadow: 2px 5px 3px var(--primario);
    letter-spacing: 30px;
    text-transform: uppercase;
}

.title-tipoGranos {
    border: 1px solid var(--negro);
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    text-transform: uppercase;
    text-shadow: 2px 5px 3px var(--primario);
    color: var(--blanco);
    background-color: var(--negro);
}

.tipoGranos-texto {
    /* background-color: red; */
    /* border: 1px solid gray; */
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 5px 3px black;
    background: linear-gradient(to top right, gray, brown, black);
    /* font-weight: bolder; */
    /* asignar una tipografia de letra del google fonts a los textos del index */
}

.title-recetas {
    border: 1px solid var(--negro);
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: var(--blanco);
    text-shadow: 2px 5px 3px var(--primario);
    text-transform: uppercase;
    background-color: var(--negro);
}

.title-beneficios {
    text-transform: uppercase;
    border: 1px solid var(--negro);
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    text-shadow: 2px 5px 3px var(--primario);
    color: var(--blanco);
    background-color: var(--negro);
}

.title-tecnicas {
    border: 1px solid var(--negro);
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem;
    color: var(--blanco);
    text-shadow: 2px 5px 3px var(--primario);
    background-color: var(--negro);
    /* letter-spacing: 10px; */
}

.title-taller {
    border: 1px solid var(--negro);
    text-align: center;
    text-transform: uppercase;
    color: var(--blanco);
    text-shadow: 2px 5px 3px var(--primario);
    padding: 1rem;
    margin: 1rem;
    background-color: var(--negro);
    /* letter-spacing: 10px; */
}

.title-recetasCafe {
    border: 1px solid var(--negro);
    text-align: center;
    /* letter-spacing: 10px; */
    color: var(--blanco);
    text-shadow: 2px 5px 3px var(--primario);
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--negro);
}

.header__texto h2 {
    /* border: 1px solid var(--blanco); */
    text-transform: uppercase;
    border: 1px solid var(--blanco);
    padding: 1rem;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.266);
    /* color: var(--blanco); */
    color: rgba(0, 0, 0, 0.611);
    text-shadow: 2px 5px 3px var(--primario);
    letter-spacing: 10px;
}

.header__texto p {
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.551);
    font-weight: bolder;
    margin: 10px 140px;
    border: 1px solid var(--blanco);
}

.cursos-talleres {
    border: 1px solid var(--negro);
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: var(--blanco);
    text-shadow: 2px 5px 3px var(--primario);
    text-transform: uppercase;
    background-color: var(--negro);
}

.centrar-texto {
    text-align: center;
}

.navegacion__enlace {
    border: 1px solid var(--blanco);
    padding: 10px;
    border-radius: 10px;
    /* text-shadow: 2px 5px 3px var(--blanco); */
    background-color: var(--negro);
    /* text-transform: uppercase; */
    box-shadow: 2px 5px 3px var(--primario);
}

.navegacion__enlace:hover {
    color: var(--negro);
    background-color: var(--blanco);
    text-shadow: 2px 5px 3px var(--negro);
}

.contacto-titulo {
    border: 1px solid var(--negro);
    color: var(--primario);
    text-shadow: 2px 5px 3px var(--blanco);
    background-color: var(--negro);
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem;
    letter-spacing: 30px;
}

.nosotros-title {
    text-transform: uppercase;
    border: 1px solid var(--negro);
    text-shadow: 2px 5px 3px var(--primario);
    color: var(--blanco);
    background-color: var(--negro);
    padding: 1rem;
    margin: 1rem;
    letter-spacing: 30px;
}



.sobre-nosotros__imagen img {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: black;
    box-shadow: 2px 5px 3px brown;
}

.titulo-entrada {
    border: 1px solid var(--negro);
    padding: 1rem;
    margin: 1rem;
    text-transform: uppercase;
    color: var(--blanco);
    text-shadow: 2px 5px 3px var(--primario);
    background-color: var(--negro);
    letter-spacing: 30px;
}

.cursos-title {
    border: 1px solid var(--negro);
    padding: 1rem;
    margin: 1rem;
    text-shadow: 2px 5px 3px var(--primario);
    text-transform: uppercase;
    color: var(--blanco);
    background-color: var(--negro);
    letter-spacing: 30px;
}

.curso__imagen {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 2px 5px 3px brown;
}

.curso__informacion {
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 2px 5px 3px black;
}

/* header */
.header {
    background-image: url(../imagenes/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

/* header */
/* @media (min-width: 480px) {
    .header__texto {
        margin-top: 20rem;
    }
}

@media (min-width: 480px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} */

@media (min-width: 768px) {
    .header__texto {
        margin-top: 20rem;
    }
}

.barra {
    padding: 4rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    color: var(--blanco);
    border: 1px solid var(--blanco);
    /* height: 80px; */
    padding: 0px 10px;
    box-shadow: 2px 5px 3px var(--blanco);
    border-radius: 10px;
}


.logo__nombre {
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 2px 5px 3px var(--primario);
}

.contenedor-iconos:hover {
    transition-duration: 5s;
    padding: 15px;
    margin: 5px;
    background: linear-gradient(to top left, brown, black, white);
    border-radius: 10px;
    box-shadow: 2px 5px 3px black;
    font-size: 2rem;
    /* transition-delay: 2s; */
}

.contenedor-iconos:hover i {
    color: red;
    /* border: 1px solid white; */
}

.logo__bold {
    font-weight: 700;
}

/* @media (min-width: 480px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
} */

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

/* @media (min-width: 480px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
} */

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.entrada__imagen img {
    border: 1px solid black;
    background-color: black;
    padding: 5px;
    box-shadow: 2px 5px 3px brown;
    border-radius: 10px;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

/* @media (min-width: 480px) {
    .boton {
        display: inline-block;
    }
} */

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 2px 5px 3px gray;
}

.boton--secundario {
    background-color: var(--primario);
}

.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso h4 {
    text-transform: uppercase;
    border: 1px solid var(--primario);
    padding: 1rem;
    /* border-radius: 10px; */
    background-color: #784d3c63;
    text-shadow: 2px 5px 3px var(--blanco);
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info {
    font-weight: normal;
}

.widget-curso__label .widget-curso__info {
    font-size: 2rem;
}

.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}


/* Sobre nosotros */

/* @media (min-width: 480px) {
    .sobre-nosotros {
        display: flex;
        gap: 2rem;
    }

    .sobre-nosotros__imagen,
    .sobre-nosotros__texto {
        flex-basis: 50%;
    }
} */

@media (min-width: 768px) {
    .sobre-nosotros {
        display: flex;
        gap: 2rem;
    }

    .sobre-nosotros__imagen,
    .sobre-nosotros__texto {
        flex-basis: 50%;
    }
}

.curso {
    padding: 3rem;
    border: 1px solid var(--gris);
}

/* @media (min-width: 480px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
} */

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}

/* contacto */

.contacto-bg {
    background-image: url(../imagenes/contacto.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea {
    height: 20rem;
}

/* iconos del proyecto */

.contenedor-iconos i {
    color: white;
    background-color: black;
    border-radius: 30px;
    box-shadow: 2px 5px 3px brown;
}

.contenedor-iconos {
    display: flex;
    justify-content: space-around;
    margin: 5px;

}